@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Roboto:wght@300;500;900&display=swap");

* {
    font-family: "Roboto", "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
}

ul.nav a:hover {
    color:#5F5F5F  !important;
}

.card-body .header-login {
    font-size: 30px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/IndonesiaPLN.jpg");
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text .txt-header {
    font-weight: 900;
    color: white;
    font-size: 46px;
}

.hero-text .txt-hero {
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.btn-registration {
    font-size: 19px;
    color: #fff;
    background: #F66951;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}

.btn-registration:hover {
    background-color: #fa4626;
    color: white;
}

h1 {
    font-weight: 600;
}

.container h1 {
    font-size: 50px;
    font-weight: 550;

}

.container h2 {
    font-size: 35px;
    color: white;
}

.container p {
    font-size: 20px;
}

.card-header {
    font-size: 30px;
}

.card-text {
    font-size: 25px;
    font-weight: 300;
}

.card-body .btn-magang {
    background-color: #0E4770;
    color: white;
    font-size: 20px;
}

.card-body .btn-magang:hover {
    background-color: #F66951 !important;
    color: white !important;
}

.txt-magang {
    font-size: 30px;
}

.txt-register p {
    font-size: 17px;
}

.container .presence-image {
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.container .btn-checkin {
    padding: 6px 273px;
}

.container .btn-checkin:hover {
    background-color: #189936 !important;

}

.container .btn-checkout {
    padding: 6px 273px;
}

.container .btn-checkout:hover {
    background-color: #c92031 !important;
    color: white;
}

.container .btn-history {
    padding: 6px ;
}

.container .btn-history:hover {
    background-color: #043c65 !important;
    color: white;
}

footer {
    background-color: #0E4770;
}

.copyright {
    font-size: 17px;
    text-align: center;
}

.copyright a {
    font-weight: 500;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #f6f6f7;
    margin-top: 30px;
  }
  .breadcrumbs h2 {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
  }
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #4f4c55;
    content: "/";
  }
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }


