@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Roboto:wght@300;500;900&display=swap");


* {
    font-family: "Roboto", "Montserrat", sans-serif;
}

.bg-hero {
    background-image:  url("/img/bg-regist.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.registered {
    font-style: italic;
    color: grey;
}
